body {
  background: transparent;
  overflow: hidden;
}

#alert {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.4s ease;
}

#alert.show {
  opacity: 1;
  transform: scale(1);
}

h2 {
  color: white;
  font-size: 42px;
}
